services:
  app:
  
    # DEFINE the exact image to look for:
    image: uv-nvidia-template:v0.0.1
    
    container_name: uv-nvidia-template
  
    # RUNTIME CONFIGURATION
    # Since we removed 'sleep infinity' from the Dockerfile, we need it here
    # to keep the container alive for development.
    command: sleep infinity
    
    # mounting
    volumes:
      # Mount code live so you can edit without rebuilding
      - ./src:/app/src
      - ./pyproject.toml:/app/pyproject.toml
      - ./uv.lock:/app/uv.lock

    environment:
      - VIRTUAL_ENV=/opt/venv
    
    # gpu setting
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              # 1. Use 'device_ids' to pin specific GPUs by index (strings)
              device_ids: ['0'] 
              # 2. explicit 'capabilities' are required
              capabilities: [gpu]